body{
  
}
header {
  padding: 0 !important;
  height: 100px;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  animation-name: headerD;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  animation-delay: 1.4s;
  opacity: 0;
  animation-fill-mode: forwards; /* 애니메이션의 마지막 상태값을 그대로 유지 */
}
@keyframes headerD{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-100%);
  }
}
header div.wrap {
  width: 1080px;
  align-items: center;
}
header div.wrap h1 {

}
header div.wrap h1 a {
  font-size: 0;
  width: 165px;
  height: 20px;
  display: block;
  background-image: url(../img/logo-lpoint.png);
}
header div.wrap h1 a::after{

}
header div.wrap ul.gnb {
  transform: translateX(-70%);
  height: 100%;
}
header div.wrap ul.gnb li {

}
header div.wrap ul.gnb li a {
  padding: 0 20px;
  /*! display: block; */
  box-sizing: border-box;
  height: 100%;
  line-height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
}
header div.wrap ul.gnb li a:hover {
  color: #32aefa;
  border-bottom: 1px solid #32aefa;
/*   animation-name: pop;
  animation-duration: 1s;
  animation-direction: reverse; */
}
/* @keyframes pop{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(100%);
  }
} */
header div.wrap .sublist{
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  padding: 40px 0 70px;
  background-color: #eee;
  display: grid;
  grid-template-columns: calc((100% - 1080px) / 2) 355px auto; 
  display: none;
}
header div.wrap .sublist h2{

}
header div.wrap .sublist ul{
  grid-column: 3;
}
header div.wrap .sublist ul li{

}
header div.wrap .sublist ul li a{
  line-height: 1.7;
  display: block;
}
header div.wrap div {

}
header div.wrap ul.lang {
  gap: 20px;
}
header div.wrap ul.lang li {

}
header div.wrap ul.lang li:nth-child(3){
/*   font-size: 0;
  width: 60px;
  height: 52px;
  display: block;
  background-image: url(../img/lpoint_logo.svg);
  background-repeat: no-repeat; */
}
header div.wrap ul.lang li a {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header div.wrap ul.lang li:nth-child(1) {

}
header div.wrap ul.lang li:nth-child(1) a {
  
}
header div.wrap ul.lang li:nth-child(3) a {
  padding: 0;
  font-size: 0;
  width: 40px;
  height: 35px;
  display: block;
  background-image: url(../img/lpoint_service.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
}
header div.wrap ul.lang li:nth-child(3) a::after{
  content: "고객센터";
  font-size: 14px;
  width: max-content;
/*   display: block; */
  margin-top: 40px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 10px;
  display: none;
}
header div.wrap ul.lang li:nth-child(3) a:hover::after{
  display: initial;
  animation-name: fade; /* 애니메이션 이름 */
  animation-duration: 1s; /* 애니메이션 시간(초) */
}
@keyframes fade{ /* fade이름의 애니메이션 설정 */
  0%{ /* 처음 */
    opacity: 0; /* 투명도 */
    transform: translateY(30%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}
.show {
  display: grid !important;;
}